/* Phan trang */
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}



 
/* Hide over content description (Allnews + NewsPagination) */   
.description-page {
  overflow: hidden;
  width:100%;                      
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.description-content{
  overflow: hidden;
  width:100%;                      
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.description-title{
  overflow: hidden;
  width:100%;                      
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}



/* Font */
.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.inset-border {
  border: gray;
  border-radius: 10px;
  border-style: inset;
}

/* Dropdown */
.dropdown:hover .dropdown-menu {
  overflow: visible !important;
  position: absolute;
  z-index: 100;
  display: block;
}

.font-small{
  font-size: smaller;
}